<div>
    <!--on component-->
    <div class="App_version">
      V. {{appVersion}}
    </div>
    <div class="Search-Component">
        <app-searcher [caseSensitiveOption]="caseSensitiveOption" (onSearch)="onSearch($event)"></app-searcher>
        <div *ngIf="searchPhase">
            Wyszukana fraza: <strong>{{searchPhase}}</strong>
        </div>
        <div>
            <mat-checkbox [(ngModel)]="caseSensitiveOption" (change)="changeCaseS()">Make Lower Case</mat-checkbox>
        </div>
    </div>

    <div class="User-Table">
        <div class="User-List">
            <h2>STATIC MOCK</h2>
            <div>
                <mat-list>
                    <div *ngIf="dynamicUsers">
                        <mat-list-item *ngFor="let item of dynamicUsers">
                            [{{item.id}}] - {{item.name}}
                            <button mat-button>Click me!</button>
                        </mat-list-item>
                    </div>
                </mat-list>
            </div>
        </div>

        <div class="User-List">
            <h2>DYNAMIC FIREBASE</h2>
                <mat-list-item *ngFor="let item of dynamicUsersFirebase | async | filter:searchFilterString | paginate: { itemsPerPage: 3, currentPage: p }; let i = index">
                    [{{item.id}}] - {{item.name}}
                    <a href="user/{{item.id}}" mat-button>Click me!</a>
                </mat-list-item>
            <pagination-controls (pageChange)="p = $event"></pagination-controls>
        </div>
    </div>
</div>
