<div>
    <!--on component-->
    <div class="App_version">
      V. {{appVersion}}
    </div>
  <!--  <div class="Search-Component">
        <app-searcher [caseSensitiveOption]="caseSensitiveOption" (onSearch)="onSearch($event)"></app-searcher>
        <div *ngIf="searchPhase">
            Wyszukana fraza: <strong>{{searchPhase}}</strong>
        </div>
        <div>
            <mat-checkbox [(ngModel)]="caseSensitiveOption" (change)="changeCaseS()">Make Lower Case</mat-checkbox>
        </div>
    </div>-->

    <!--<div class="User-Table">
        <div class="User-List">
            <h2>STATIC MOCK</h2>
            <div>
                <mat-list>
                    <div *ngIf="dynamicUsers">
                        <mat-list-item *ngFor="let item of dynamicUsers">
                            [{{item.id}}] - {{item.name}}
                            <button mat-button>Click me!</button>
                        </mat-list-item>
                    </div>
                </mat-list>
            </div>
        </div>

        <div class="User-List">
            <h2>DYNAMIC FIREBASE</h2>
                <mat-list-item *ngFor="let item of dynamicUsersFirebase | async | filter:searchFilterString | paginate: { itemsPerPage: 3, currentPage: p }; let i = index">
                    [{{item.id}}] - {{item.name}}
                    <a href="user/{{item.id}}" mat-button>Click me!</a>
                </mat-list-item>
            <pagination-controls (pageChange)="p = $event"></pagination-controls>
        </div>
    </div>-->

    <div class="example-container mat-elevation-z8 User-Table">

      <div class="example-header">
        <mat-form-field>
          <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
        </mat-form-field>
      </div>

      <mat-table #table [dataSource]="dataSource">

        <!-- Position Column -->
        <ng-container matColumnDef="id">
          <mat-header-cell *matHeaderCellDef> No. </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.id}} </mat-cell>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="name">
          <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="technology">
          <mat-header-cell *matHeaderCellDef> Technology </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.technology}} </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      </mat-table>

      <mat-paginator #paginator
                    [pageSize]="10"
                    [pageSizeOptions]="[5, 10, 20]">
     </mat-paginator>
    </div>

</div>
