<nav class="navbar navbar-expand-lg navbar-light bg-light" *ngIf="isLogin">
  <a class="navbar-brand">Pluralsight results</a>


  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">

    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success mr-sm-2" type="submit">Search</button>
      <button class="btn btn-outline-success mr-sm-2" type="button" (click)="openModal(content)">add</button>
      <button class="btn btn-outline-success my-2 my-sm-0" type="button" (click)="logout()">logout</button>
    </form>
  </div>
</nav>
