<h1>User creation</h1>

<form [formGroup]="userForm"
      (ngSubmit)="onSubmit()"
      class="aw3-form">
  <mat-form-field class="aw3-form-field">
    <input
      matInput
      id="name"
      type="text"
      formControlName="name"
      placeholder="Name"
    >
  </mat-form-field>

  <mat-form-field class="aw3-form-field">
    <input
      matInput
      type="text"
      id="username"
      formControlName="username"
      placeholder="Username"
    >
  </mat-form-field>

  <mat-form-field class="aw3-form-field">
    <input
      matInput
      type="text"
      id="email"
      formControlName="email"
      placeholder="Email">
  </mat-form-field>

  <mat-form-field class="aw3-form-field aw3-form-field--inline">
    <input
      matInput
      type="text"
      id="addressStreet"
      formControlName="addressStreet"
      placeholder="Address street">
  </mat-form-field>
  <mat-form-field class="aw3-form-field aw3-form-field--inline">
    <input
      matInput
      type="text"
      id="addressCity"
      formControlName="addressCity"
      placeholder="Address city">
  </mat-form-field>

  <mat-form-field class="aw3-form-field">
    <input
      matInput
      type="text"
      id="phone"
      formControlName="phone"
      placeholder="Phone">
  </mat-form-field>

  <mat-form-field class="aw3-form-field">
    <input
      matInput
      type="text"
      id="website"
      formControlName="website"
      placeholder="Website">
  </mat-form-field>

  <mat-form-field class="aw3-form-field aw3-form-field--inline">
    <input
      matInput
      type="text"
      id="companyStreet"
      formControlName="companyStreet"
      placeholder="Company street">
  </mat-form-field>
  <mat-form-field class="aw3-form-field aw3-form-field--inline">
    <input
      matInput
      type="text"
      id="companyName"
      formControlName="companyName"
      placeholder="Company name">
  </mat-form-field><br>

  <button type="submit" mat-raised-button color="primary">Create</button>
</form>
