<div class="Navbar">
    <div class="Navbar-image">

    </div>
    <span class="Navbar-item">
        <!-- {{'header.home' | translate}} -->
    </span>
    <span class="Navbar-item">
        <!-- {{'header.get' | translate}} -->
    </span>
    <span class="Navbar-item">
        <!-- {{'header.spend' | translate}} -->
    </span>
    <span class="Navbar-item">
        <!-- {{'header.prizes' | translate}} -->
    </span>
    <div class="Navbar-rightPart">
        <span class="Navbar-item">
            Test
        </span>
        <img src ="./assets/images/flags/ie.png" (click)="changeLangToNL()" style ="height: 30px; cursor: pointer">
        <img src ="./assets/images/flags/uk.png" (click)="changeLangToEN()" style ="height: 30px;  cursor: pointer">
    </div>
</div>
