<div class="c-login">
  <div *ngIf="afAuth.user | async as currentUser; else guest">
    <span class="c-login-welcome">Hello, {{ currentUser.displayName }}</span>
    <button mat-stroked-button (click)="logout()">Log out</button>
  </div>

  <ng-template #guest>
    <div class="c-login-button__row">
      <span class="c-login-welcome">Hello, Guest</span>
      <button mat-stroked-button (click)="loginWithFacebook()" data-cy="login-fb-button">Login with Facebook</button>
      <button mat-stroked-button (click)="loginWithGithub()" data-cy="login-github-button">Login with Github</button>
    </div>
  </ng-template>
</div>
