<form (ngSubmit)="onSubmit()" [formGroup]="newUser" class="form-container">
    <md-form-field>
      <input mdInput type="text" placeholder="Enter Name" formControlName="name" required />
    </md-form-field>
    <md-form-field>
      <input mdInput type="text" placeholder="Enter username" formControlName="username" required />
    </md-form-field>
    <md-form-field>
      <input mdInput type="text" placeholder="Enter phone number" formControlName="phone" required />
    </md-form-field>
    <md-form-field>
      <input mdInput type="email" placeholder="Enter email" formControlName="email" required />
    </md-form-field>
    <md-form-field>
      <input mdInput type="text" placeholder="Enter website" formControlName="website" required />
    </md-form-field>
  <button md-raised-button type="submit">Add user</button>
</form>