<h1>User edition</h1>

<div *ngIf="userForm" class="user-edit__column">
  <form [formGroup]="userForm"
        (ngSubmit)="onSubmit()"
        class="aw3-form">

    <mat-form-field class="aw3-form-field aw3-form-field--fullWidth">
      <input
        matInput
        type="text"
        id="name"
        formControlName="name"
        placeholder="name">
    </mat-form-field>

    <mat-form-field class="aw3-form-field aw3-form-field--fullWidth">
      <input
        matInput
        type="text"
        id="username"
        formControlName="username"
        placeholder="username">
    </mat-form-field>

    <mat-form-field class="aw3-form-field aw3-form-field--fullWidth">
      <input
        matInput
        type="text"
        id="email"
        formControlName="email"
        placeholder="email">
    </mat-form-field>

    <mat-form-field class="aw3-form-field aw3-form-field--fullWidth">
      <input
        matInput
        type="text"
        id="addressStreet"
        formControlName="addressStreet"
        placeholder="addressStreet">
    </mat-form-field>
    <mat-form-field class="aw3-form-field aw3-form-field--fullWidth">
      <input
        matInput
        type="text"
        id="addressCity"
        formControlName="addressCity"
        placeholder="addressCity">
    </mat-form-field>

    <mat-form-field class="aw3-form-field aw3-form-field--fullWidth">
      <input
        matInput
        type="text"
        id="phone"
        formControlName="phone"
        placeholder="phone">
    </mat-form-field>

    <mat-form-field class="aw3-form-field aw3-form-field--fullWidth">
      <input
        matInput
        type="text"
        id="website"
        formControlName="website"
        placeholder="website">
    </mat-form-field>

    <mat-form-field class="aw3-form-field aw3-form-field--fullWidth">
      <input
        matInput
        type="text"
        id="companyStreet"
        formControlName="companyStreet"
        placeholder="companyStreet">
    </mat-form-field>
    <mat-form-field class="aw3-form-field aw3-form-field--fullWidth">
      <input
        matInput
        type="text"
        id="companyName"
        formControlName="companyName"
        placeholder="companyName">
    </mat-form-field>

    <button mat-raised-button color="primary" type="submit">Edit</button>
  </form>
</div>

<div *ngIf="userForm" class="user-edit__column">
  <aw3-user-diff
    [uid]="user.id"></aw3-user-diff>
</div>

<div *ngIf="!userForm">
  <aw3-loader></aw3-loader>
</div>
