.logo {
    padding: 3em .25em 0 3em;
    border-bottom: .25em solid orangered;
    display: inline-block;
}

.logo__header-text {
    font-family: 'Great Vibes', cursive;
    font-size: 3em;
    margin: 0;
}