/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body {
    background-color: #ccc;
    font-family: "Exo"
}

button.mat-button {
    border: 1px solid #999;
}

.Login-Component {
    text-align: right;
    padding: 3px;
}

.App-Header {
    text-align: center;
}

.Menu-Component {
    padding: 0;
    list-style: none;
    li {
        display: inline;
    }
}
